*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  

  .main-content{
        
        background: #ffffff;
    }
    .sidebar-content{
        min-height: 100px;
        margin-bottom: 20px;
        background: #ffffff;
    }

 
  
    .title{
      padding: 5px;
      color: rgb(160, 206, 33);
    }
  .section-padding{
    margin-top: 30px;
  }

  

  #container1 {
    background-color: #ffffff;
}

.centered-form {
    margin-top: 120px;
    margin-bottom: 120px;
}

.centered-form .panel {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.box{
  border: 2px solid rgb(139, 126, 126);
  box-sizing: border-box;
  border-radius: 0%;
  margin-top: 10px;
  box-shadow: blueviolet;
  background-color: rgb(194, 212, 212);
  
}



h2{
  display: inline;
}

  .vl {
    border-left: 6px solid rgb(14, 15, 14);
    position: absolute;
  }

  html,body { 
    height: 100%; 
  }
  
  .global-container{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;

  }
  


  form{
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
  }
  
  .card-title{ font-weight:300; }
  
  .btn{
    font-size: 14px;
    margin-top:20px;
  }
  
  
  .login-form{ 
    width:330px;
    margin:20px;
  }
  
  .sign-up{
    text-align:center;
    padding:20px 0 0;
  }
  
  .alert{
    margin-bottom:-30px;
    font-size: 13px;
    margin-top:20px;
  }

.box{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.button {
  
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
}

h3{
  margin-top: 30px;
  padding: 30px;
  color: rgb(24, 136, 33);
}

.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}






